    <div class="container">
        <h1>Construction Scheduling Web App</h1>
        <!-- Nav tabs -->
        <ul class="nav nav-tabs">
          <li class="active"><a href="#jobs" data-toggle="tab">Jobs</a></li>
          <li class="disabled"><a href="#" data-toggle="tab">All Activities</a></li>
        </ul>
        
        <!-- Tab panes -->
        <div class="tab-content">
          <div class="tab-pane active loading" ng-show="loading">
          </div>
          <div class="tab-pane active" id="jobs" ng-hide="loading"><!-- jobs tab -->
			<p class="tabtop"><input ng-model="search" class="form-control input-md searchbox" type="search" placeholder="Search"></p>
            <div class="row">
                <div class="col-md-12">
                <!-- pager -->
                <pagination total-items="filteredJobs.length" page="pageNo" max-size="maxSize" class="pagination-md" boundary-links="true" rotate="false" num-pages="noOfPages" items-per-page="pageSize" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
                    <div id="page-total-pager" class="btn-group pull-right">
                        <button type="button" class="btn btn-default" ng-class="{active:pageSize==10}" ng-click="setPageSize(10)">10</button>
                        <button type="button" class="btn btn-default" ng-class="{active:pageSize==20}" ng-click="setPageSize(20)">20</button>
                        <button type="button" class="btn btn-default" ng-class="{active:pageSize==30}" ng-click="setPageSize(30)">30</button>
                    </div>
                </div>
            </div>
            <div class="table-responsive">
            	<table class="table">
                	<thead>
                        <tr>
                            <th ng-click="sort('JobNumber')">Job<i ng-class="{'glyphicon glyphicon-chevron-up pull-right':isSortUp('JobNumber'), 'glyphicon glyphicon-chevron-down pull-right':isSortDown('JobNumber')}"></i></th>
                            <th ng-click="sort('JobAddress')">Location<i ng-class="{'glyphicon glyphicon-chevron-up pull-right':isSortUp('JobAddress'), 'glyphicon glyphicon-chevron-down pull-right':isSortDown('JobAddress')}"></i></th>
                            <th ng-click="sort('SelectedHouseType')">House Type<i ng-class="{'glyphicon glyphicon-chevron-up pull-right':isSortUp('SelectedHouseType'), 'glyphicon glyphicon-chevron-down pull-right':isSortDown('SelectedHouseType')}"></i></th>
                            <th ng-click="sort('SelectedFacade')">Facade<i ng-class="{'glyphicon glyphicon-chevron-up pull-right':isSortUp('SelectedFacade'), 'glyphicon glyphicon-chevron-down pull-right':isSortDown('SelectedFacade')}"></i></th>
                            <th ng-click="sort('CurrentSubPhase')">Sub Phase<i ng-class="{'glyphicon glyphicon-chevron-up pull-right':isSortUp('CurrentSubPhase'), 'glyphicon glyphicon-chevron-down pull-right':isSortDown('CurrentSubPhase')}"></i></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="job in filteredJobs = (jobs.JobList | filter:search | orderBy:sortField:reverse) | pagination:pageNo:pageSize" ng-class-even="'light-gray'" ng-class-odd="'dark-gray'" class="repeated-item">
                            <td><button type="button" ng-click="showMap(job.JobAddress)" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-map-marker"></span></button> <a href="#/job-responsible/{{job.JobNumber}}">{{job.JobNumber}}</a></td>
                            <td>{{job.JobAddress}}<span ng-show="!job.JobAddress">No Data</span></td>
                            <td>{{job.SelectedHouseType}}<span ng-show="!job.SelectedHouseType">No Data</span></td>
                            <td>{{job.SelectedFacade}}<span ng-show="!job.SelectedFacade">No Data</span></td>
                            <td>{{job.CurrentSubPhase}}<span ng-show="!job.CurrentSubPhase">No Data</span></td>
                        </tr>
                    </tbody>
                </table>
            </div><!-- /table-responsive -->
            <!-- pager -->
                <pagination total-items="filteredJobs.length" page="pageNo" max-size="maxSize" class="pagination-md" boundary-links="true" rotate="false" num-pages="noOfPages" items-per-page="pageSize" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
                <pre>Page: {{pageNo}} / {{noOfPages}}</pre>

          </div><!-- /jobs tab -->
        </div>

    </div><!-- /.container -->