<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A construction scheduling web application">
    <meta name="author" content="Mark D. Johnson">
    <link rel="shortcut icon" href="favicon.ico">

    <title>Construction Scheduling Web App</title>

    <!-- Bootstrap core CSS -->
	<link rel="stylesheet" type="text/css" href="assets/bootstrap/css/bootstrap.min.css">
    <!-- Bootstrap theme -->
    <link rel="stylesheet" type="text/css" href="assets/bootstrap/css/bootstrap-theme.min.css">
    <!-- Site styles -->
    <link rel="stylesheet" type="text/css" href="assets/css/main.css">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="navbar navbar-inverse" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"></a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Help</a></li>
            <li><a href="#">Legal</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
              <li><a href="./">Logged in as David Jones <span class="glyphicon glyphicon-user"></span></a></li>
            </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-6">
            	<h1>Job #123456 <span class="glyphicon glyphicon-camera"></span></h1>
            	<h2>55 Selandra Blvd. <span class="glyphicon glyphicon-map-marker"></span></h2>
        	</div>
            <div class="col-md-4 col-md-offset-2 bg-info">
                	<h4>Customer #1234567</h4>
                    <p><strong>Mr. and Mrs. Kennedy</strong><br>
                    1234 test avenue yourtown, yourstate 99999</p>
                    <h4>Primary Contact</h4>
                    <address>
						<strong>Troy Dynamics</strong><br>
						795 Folsom Ave, Suite 600 San Francisco, CA 94107<br>
						<span class="glyphicon glyphicon-envelope"></span> <a href="mailto:joe@joeplumber.com">joe@joeplumber.com</a><br>
						<span class="glyphicon glyphicon-phone"></span> <a href="tel:+13174562564">(123) 456-7890</a>
					</address>
            </div>
        </div>
        <!-- Nav tabs -->
        <ul class="nav nav-tabs">
          <li class="active"><a href="#jobs" data-toggle="tab">Jobs</a></li>
          <li><a href="#activities" data-toggle="tab">All Activities <span class="badge">38</span></a></li>
        </ul>
        
        <!-- Tab panes -->
        <div class="tab-content">
          <div class="tab-pane fade in active" id="jobs"><!-- jobs tab -->
          	<ul class="nav nav-pills tabtop">
          		<li class="active"><a href="#jobs_activities" data-toggle="tab">Activities</a></li>
          		<li><a href="#jobs_responsible" data-toggle="tab">Responsible</a></li>
                <li><a href="#jobs_documents" data-toggle="tab">Documents <span class="badge">5</span></a></li>
                <li class="disabled"><a href="#jobs_pos" data-toggle="tab">Purchase Orders</a></li>
                <li class="disabled"><a href="#jobs_notes" data-toggle="tab">Job Notes</a></li>
                <li class="disabled"><a href="#jobs_delaydays" data-toggle="tab">Delay Days</a></li>
        	</ul>
            <div class="tab-content">
            	<div class="tab-pane fade in active" id="jobs_activities"><!-- Jobs > Activities tab content -->
                	<p class="tabtop"><input ng-model="search" class="form-control input-md searchbox" type="search" placeholder="Search"></p>
          	<div class="row tabtop"><!-- filters -->
            	<div class="col-xs-12">
                    <div class="btn-group">
                    	<button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
                    		Sub Phase <span class="caret"></span>
                    	</button>
                    	<ul class="dropdown-menu" role="menu">
                    		<li><a href="#">sub phase 1</a></li>
                    		<li><a href="#">sub phase 2</a></li>
                    		<li><a href="#">sub phase 3</a></li>
                    	</ul>
                    </div>
                	<div class="btn-group">
                    	<button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
                    		Follow Up Status <span class="caret"></span>
                    	</button>
                    	<ul class="dropdown-menu" role="menu">
                    		<li><a href="#">Follow Up 1</a></li>
                    		<li><a href="#">Follow Up 2</a></li>
                    		<li><a href="#">Follow Up 3</a></li>
                    	</ul>
                    </div>
                	<div class="btn-group">
                    	<button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
                    		Cost Centre <span class="caret"></span>
                    	</button>
                    	<ul class="dropdown-menu" role="menu">
                    		<li><a href="#">Cost Centre 1</a></li>
                    		<li><a href="#">Cost Centre 2</a></li>
                    		<li><a href="#">Cost Centre 3</a></li>
                    	</ul>
                    </div>
                	<div class="btn-group">
                    	<button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
                    		Vendor <span class="caret"></span>
                    	</button>
                    	<ul class="dropdown-menu" role="menu">
                    		<li><a href="#">Vendor 1</a></li>
                    		<li><a href="#">Vendor 2</a></li>
                    		<li><a href="#">Vendor 3</a></li>
                    	</ul>
                    </div>
                </div>
            </div><!-- /filters -->
            <div class="row">
                <div class="col-md-12">
                  <ul class="pagination">
                    <li class="disabled"><a href="#">&laquo;</a></li>
                    <li class="active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">&raquo;</a></li>
                  </ul>
                  	<div id="page-total-pager" class="btn-group pull-right">
                        <button type="button" class="btn btn-primary">10</button>
                        <button type="button" class="btn btn-default">20</button>
                        <button type="button" class="btn btn-default">30</button>
                	</div>
                </div>
              </div>

              <div class="table-responsive">
                <table class="table table-striped table-condensed">
                    <thead>
                        <tr>
                            <th>Job Name</th>
                            <th>Activity</th>
                            <th>Cost Centre</th>
                            <th>Vendor</th>
                            <th>Forecast / Last Called For Date</th>
                            <th>Called For</th>
                            <th>Confirmed</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                            	<div class="checkbox">
                                	<label>
                                		<input type="checkbox" value="">
                                		Lot 13, 38 Auburn Street, Melbourne
                                	</label>
                                </div></td>
                            <td>Water tapping</td>
                            <td>Water</td>
                            <td><span class="caret"></span> Southeast Water</td>
                            <td>datepicker / datepicker</td>
                            <td>15/12/2014</td>
                            <td><span class="glyphicon glyphicon-ok"></span></td>
                        </tr>
                        <tr class="active">
                            <td>
                            	<div class="checkbox">
                                	<label>
                                		<input type="checkbox" value="">
                                		Lot 13, 38 Auburn Street, Melbourne
                                	</label>
                                </div></td>
                            <td>Water tapping</td>
                            <td>Water</td>
                            <td><span class="caret"></span> Vendor Inc.</td>
                            <td>datepicker / datepicker</td>
                            <td>15/12/2014</td>
                            <td><span class="glyphicon glyphicon-ok"></span></td>
                        </tr>
                        <tr class="info">
                        	<td colspan="7">
                                <address>
                                    <strong>Vendor, Inc.</strong><br>
                                    795 Folsom Ave, Suite 600 San Francisco, CA 94107<br>
                                    <span class="glyphicon glyphicon-envelope"></span> <a href="mailto:joe@joeplumber.com">joe@joeplumber.com</a><br>
                                    <span class="glyphicon glyphicon-phone"></span> <a href="tel:+13174562564">(123) 456-7890</a>
                                </address>
                            </td>
                        </tr>
                        <tr>
                            <td>
                            	<div class="checkbox">
                                	<label>
                                		<input type="checkbox" value="">
                                		Lot 13, 38 Auburn Street, Melbourne
                                	</label>
                                </div></td>
                            <td>Water tapping</td>
                            <td>Water</td>
                            <td><span class="caret"></span> Southeast Water</td>
                            <td>datepicker / datepicker</td>
                            <td>15/12/2014</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>
                            	<div class="checkbox">
                                	<label>
                                		<input type="checkbox" value="">
                                		Lot 13, 38 Auburn Street, Melbourne
                                	</label>
                                </div></td>
                            <td>Water tapping</td>
                            <td>Water</td>
                            <td><span class="caret"></span> Southeast Water</td>
                            <td>datepicker / datepicker</td>
                            <td>15/12/2014</td>
                            <td><span class="glyphicon glyphicon-ok"></span></td>
                        </tr>
                        <tr class="success">
                            <td>
                            	<div class="checkbox">
                                	<label>
                                		<input type="checkbox" value="">
                                		Lot 13, 38 Auburn Street, Melbourne
                                	</label>
                                </div></td>
                            <td>Water tapping</td>
                            <td>Water</td>
                            <td><span class="caret"></span> Southeast Water</td>
                            <td>datepicker / datepicker</td>
                            <td>15/12/2014</td>
                            <td><span class="glyphicon glyphicon-ok"></span></td>
                        </tr>
                        <tr class="danger">
                            <td>
                            	<div class="checkbox">
                                	<label>
                                		<input type="checkbox" value="">
                                		Lot 13, 38 Auburn Street, Melbourne
                                	</label>
                                </div></td>
                            <td>Water tapping</td>
                            <td>Water</td>
                            <td><span class="caret"></span> Southeast Water</td>
                            <td>datepicker / datepicker</td>
                            <td>15/12/2014</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr class="danger">
                            <td>
                            	<div class="checkbox">
                                	<label>
                                		<input type="checkbox" value="">
                                		Lot 13, 38 Auburn Street, Melbourne
                                	</label>
                                </div></td>
                            <td>Water tapping</td>
                            <td>Water</td>
                            <td><span class="caret"></span> Southeast Water</td>
                            <td>datepicker / datepicker</td>
                            <td>15/12/2014</td>
                            <td><span class="glyphicon glyphicon-ok"></span></td>
                        </tr>
                        <tr class="success">
                            <td>
                            	<div class="checkbox">
                                	<label>
                                		<input type="checkbox" value="">
                                		Lot 13, 38 Auburn Street, Melbourne
                                	</label>
                                </div></td>
                            <td>Water tapping</td>
                            <td>Water</td>
                            <td><span class="caret"></span> Southeast Water</td>
                            <td>datepicker / datepicker</td>
                            <td>15/12/2014</td>
                            <td><span class="glyphicon glyphicon-ok"></span></td>
                        </tr>
                        <tr class="success">
                            <td>
                            	<div class="checkbox">
                                	<label>
                                		<input type="checkbox" value="">
                                		Lot 13, 38 Auburn Street, Melbourne
                                	</label>
                                </div></td>
                            <td>Water tapping</td>
                            <td>Water</td>
                            <td><span class="caret"></span> Southeast Water</td>
                            <td>datepicker / datepicker</td>
                            <td>15/12/2014</td>
                            <td><span class="glyphicon glyphicon-ok"></span></td>
                        </tr>
                    </tbody>
                </table>
              </div><!-- /table-responsive -->
              <div class="row">
                <div class="col-md-12">
					<p>
                    	<button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-envelope"></span> Email Call Up Selected</button>
                        <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-flag"></span> Manual Call Up Selected</button>
                    	<button type="button" class="btn btn-default"><span class="glyphicon glyphicon-file"></span> Create PDF</button>
                        <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-refresh"></span> Update</button>
                    </p>
                </div>
              </div>
                </div><!-- /Jobs > Activities tab content -->
                <div class="tab-pane fade" id="jobs_responsible"><!-- Jobs > Responsible tab content -->
                	<div class="table-responsive tabtop">
                <table class="table table-striped table-condensed">
                    <thead>
                        <tr>
                            <th>Responsibility</th>
                            <th>Primary Contact</th>
                            <th>Email</th>
                            <th>Phone</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Admin</td>
                            <td>Peter Farkenparker</td>
                            <td><a href="mailto:joe@joeplumber.com">joe@joeplumber.com</a></td>
                            <td><a href="tel:+13174562564">(123) 456-7890</a></td>
                        </tr>
                        <tr>
                            <td>Estimator</td>
                            <td>Peter Farkenparker</td>
                            <td><a href="mailto:joe@joeplumber.com">joe@joeplumber.com</a></td>
                            <td><a href="tel:+13174562564">(123) 456-7890</a></td>
                        </tr>
                        <tr>
                            <td>Estimator</td>
                            <td>Peter Farkenparker</td>
                            <td><a href="mailto:joe@joeplumber.com">joe@joeplumber.com</a></td>
                            <td><a href="tel:+13174562564">(123) 456-7890</a></td>
                        </tr>
                        <tr>
                            <td>Draftsperson</td>
                            <td>Peter Farkenparker</td>
                            <td><a href="mailto:joe@joeplumber.com">joe@joeplumber.com</a></td>
                            <td><a href="tel:+13174562564">(123) 456-7890</a></td>
                        </tr>
                        <tr>
                            <td>Draftsperson</td>
                            <td>Peter Farkenparker</td>
                            <td><a href="mailto:joe@joeplumber.com">joe@joeplumber.com</a></td>
                            <td><a href="tel:+13174562564">(123) 456-7890</a></td>
                        </tr>
                    </tbody>
                </table>
              </div><!-- /table-responsive -->
                </div><!-- / jobs > responsible tab -->
                <div class="tab-pane fade" id="jobs_documents">
                    <div class="list-group tabtop">
                    	<a href="#" class="list-group-item"><img src="assets/images/icons/word.png" width="32" height="32" alt="Word file"> file1.doc</a>
                    	<a href="#" class="list-group-item"><img src="assets/images/icons/pdf.png" width="32" height="32" alt="PDF file"> file2.pdf</a>
                    	<a href="#" class="list-group-item"><img src="assets/images/icons/excel.png" width="32" height="32" alt="Excel file"> file3.xlsx</a>
                    	<a href="#" class="list-group-item"><img src="assets/images/icons/powerpoint.png" width="32" height="32" alt="Powerpoint file"> file4.pptx</a>
                    	<a href="#" class="list-group-item"><img src="assets/images/icons/genericfile.png" width="32" height="32" alt="File"> file5.abc</a>
                    </div>
                </div>
                <div class="tab-pane fade" id="jobs_pos"><p>Jobs purchase orders tab content</p></div>
                <div class="tab-pane fade" id="jobs_notes"><p>Jobs job notes tab content</p></div>
                <div class="tab-pane fade" id="jobs_delaydays"><p>Jobs delay days tab content</p></div>
            </div>
          </div><!-- /jobs tab -->
          <div class="tab-pane fade" id="activities"><!-- activities tab -->
          <p class="tabtop"><input ng-model="search" class="form-control input-md searchbox" type="search" placeholder="Search"></p>
          	<div class="row tabtop"><!-- filters -->
            	<div class="col-xs-12">
                    <div class="btn-group">
                    	<button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
                    		Sub Phase <span class="caret"></span>
                    	</button>
                    	<ul class="dropdown-menu" role="menu">
                    		<li><a href="#">sub phase 1</a></li>
                    		<li><a href="#">sub phase 2</a></li>
                    		<li><a href="#">sub phase 3</a></li>
                    	</ul>
                    </div>
                	<div class="btn-group">
                    	<button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
                    		Follow Up Status <span class="caret"></span>
                    	</button>
                    	<ul class="dropdown-menu" role="menu">
                    		<li><a href="#">Follow Up 1</a></li>
                    		<li><a href="#">Follow Up 2</a></li>
                    		<li><a href="#">Follow Up 3</a></li>
                    	</ul>
                    </div>
                	<div class="btn-group">
                    	<button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
                    		Cost Centre <span class="caret"></span>
                    	</button>
                    	<ul class="dropdown-menu" role="menu">
                    		<li><a href="#">Cost Centre 1</a></li>
                    		<li><a href="#">Cost Centre 2</a></li>
                    		<li><a href="#">Cost Centre 3</a></li>
                    	</ul>
                    </div>
                	<div class="btn-group">
                    	<button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
                    		Vendor <span class="caret"></span>
                    	</button>
                    	<ul class="dropdown-menu" role="menu">
                    		<li><a href="#">Vendor 1</a></li>
                    		<li><a href="#">Vendor 2</a></li>
                    		<li><a href="#">Vendor 3</a></li>
                    	</ul>
                    </div>
                </div>
            </div><!-- /filters -->
            <div class="row">
                <div class="col-md-12">
                  <ul class="pagination">
                    <li class="disabled"><a href="#">&laquo;</a></li>
                    <li class="active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">&raquo;</a></li>
                  </ul>
                  	<div id="page-total-pager" class="btn-group pull-right">
                        <button type="button" class="btn btn-primary">10</button>
                        <button type="button" class="btn btn-default">20</button>
                        <button type="button" class="btn btn-default">30</button>
                	</div>
                </div>
              </div>

              <div class="table-responsive">
                <table class="table table-striped table-condensed">
                    <thead>
                        <tr>
                            <th>Sub Phase</th>
                            <th>Activity</th>
                            <th>Cost Centre</th>
                            <th>Vendor</th>
                            <th>Forecast / Last Called For Date</th>
                            <th>Called For</th>
                            <th>Confirmed</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                            	<div class="checkbox">
                                	<label>
                                		<input type="checkbox" value="">
                                		Base
                                	</label>
                                </div></td>
                            <td>Water tapping</td>
                            <td>Water</td>
                            <td><span class="caret"></span> Southeast Water</td>
                            <td>datepicker / datepicker</td>
                            <td>15/12/2014</td>
                            <td><span class="glyphicon glyphicon-ok"></span></td>
                        </tr>
                        <tr class="active">
                            <td>
                            	<div class="checkbox">
                                	<label>
                                		<input type="checkbox" value="">
                                		Base
                                	</label>
                                </div></td>
                            <td>Water tapping</td>
                            <td>Water</td>
                            <td><span class="caret"></span> Vendor Inc.</td>
                            <td>datepicker / datepicker</td>
                            <td>15/12/2014</td>
                            <td><span class="glyphicon glyphicon-ok"></span></td>
                        </tr>
                        <tr class="info">
                        	<td colspan="7">
                                <address>
                                    <strong>Vendor, Inc.</strong><br>
                                    795 Folsom Ave, Suite 600 San Francisco, CA 94107<br>
                                    <span class="glyphicon glyphicon-envelope"></span> <a href="mailto:joe@joeplumber.com">joe@joeplumber.com</a><br>
                                    <span class="glyphicon glyphicon-phone"></span> <a href="tel:+13174562564">(123) 456-7890</a>
                                </address>
                            </td>
                        </tr>
                        <tr>
                            <td>
                            	<div class="checkbox">
                                	<label>
                                		<input type="checkbox" value="">
                                		Base
                                	</label>
                                </div></td>
                            <td>Water tapping</td>
                            <td>Water</td>
                            <td><span class="caret"></span> Southeast Water</td>
                            <td>datepicker / datepicker</td>
                            <td>15/12/2014</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>
                            	<div class="checkbox">
                                	<label>
                                		<input type="checkbox" value="">
                                		Base
                                	</label>
                                </div></td>
                            <td>Water tapping</td>
                            <td>Water</td>
                            <td><span class="caret"></span> Southeast Water</td>
                            <td>datepicker / datepicker</td>
                            <td>15/12/2014</td>
                            <td><span class="glyphicon glyphicon-ok"></span></td>
                        </tr>
                        <tr class="success">
                            <td>
                            	<div class="checkbox">
                                	<label>
                                		<input type="checkbox" value="">
                                		Base
                                	</label>
                                </div></td>
                            <td>Water tapping</td>
                            <td>Water</td>
                            <td><span class="caret"></span> Southeast Water</td>
                            <td>datepicker / datepicker</td>
                            <td>15/12/2014</td>
                            <td><span class="glyphicon glyphicon-ok"></span></td>
                        </tr>
                        <tr class="danger">
                            <td>
                            	<div class="checkbox">
                                	<label>
                                		<input type="checkbox" value="">
                                		Base
                                	</label>
                                </div></td>
                            <td>Water tapping</td>
                            <td>Water</td>
                            <td><span class="caret"></span> Southeast Water</td>
                            <td>datepicker / datepicker</td>
                            <td>15/12/2014</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr class="danger">
                            <td>
                            	<div class="checkbox">
                                	<label>
                                		<input type="checkbox" value="">
                                		Base
                                	</label>
                                </div></td>
                            <td>Water tapping</td>
                            <td>Water</td>
                            <td><span class="caret"></span> Southeast Water</td>
                            <td>datepicker / datepicker</td>
                            <td>15/12/2014</td>
                            <td><span class="glyphicon glyphicon-ok"></span></td>
                        </tr>
                        <tr class="success">
                            <td>
                            	<div class="checkbox">
                                	<label>
                                		<input type="checkbox" value="">
                                		Base
                                	</label>
                                </div></td>
                            <td>Water tapping</td>
                            <td>Water</td>
                            <td><span class="caret"></span> Southeast Water</td>
                            <td>datepicker / datepicker</td>
                            <td>15/12/2014</td>
                            <td><span class="glyphicon glyphicon-ok"></span></td>
                        </tr>
                        <tr class="success">
                            <td>
                            	<div class="checkbox">
                                	<label>
                                		<input type="checkbox" value="">
                                		Base
                                	</label>
                                </div></td>
                            <td>Water tapping</td>
                            <td>Water</td>
                            <td><span class="caret"></span> Southeast Water</td>
                            <td>datepicker / datepicker</td>
                            <td>15/12/2014</td>
                            <td><span class="glyphicon glyphicon-ok"></span></td>
                        </tr>
                    </tbody>
                </table>
              </div><!-- /table-responsive -->
              <div class="row">
                <div class="col-md-12">
					<p>
                    	<button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-envelope"></span> Email Call Up Selected</button>
                        <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-flag"></span> Manual Call Up Selected</button>
                    	<button type="button" class="btn btn-default"><span class="glyphicon glyphicon-file"></span> Create PDF</button>
                        <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-refresh"></span> Update</button>
                    </p>
                </div>
              </div>
          </div><!-- /activities tab -->
        </div>

    </div><!-- /.container -->
    <div id="footer">
      <div class="container">
        <p class="text-muted">&copy; Copyright 2014</p>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>
